In [1]:
#default arguments
def average(a=9,b=4):
    print("the average is",(a+b)/2)
    
average()

the average is 6.5

In [2]:
#overwrite and ignore 1st
def average(a=9,b=4):
    print("the average is",(a+b)/2)
    
average(a=4,b=0)

the average is 2.0

In [3]:
#mname lname is defalut for every input if you not overwrite
def name(fname,mname="verma",lname="ji"):
    print("Hello",fname,mname,lname)
name("ashish")

Hello ashish verma ji

In [4]:
#keyword arguments not required any order you can give give b before a
def average(a=9,b=4):
    print("the average is",(a+b)/2)
    
average(b=3,a=8)

the average is 5.5

In [5]:
#required arguments a and b  (c) is optional
def average(a,b,c=8):
    print("the average is",(a+b)/2)
    
average(b=3,a=8)

the average is 5.5

In [10]:
#variable length arguments
def average(*numbers):
    print(type(numbers))
    sum=0
    for i in numbers:
        sum = sum +i
    print("average is :",sum/len(numbers))
average(5,6)

<class 'tuple'>
average is : 5.5

In [15]:
#keyword arbitary arguments
def name(**name):
    print(type(name))
    print("hello,",name["fname"],name["mname"],name["lname"])

name(fname="ashish",lname="ji",mname="verma")

<class 'dict'>
hello, ashish verma ji

In [17]:
#return statement
def average(*numbers):
    print(type(numbers))
    sum=0
    for i in numbers:
        sum = sum +i
    return sum/len(numbers)
c=average(3,4,5)
print(c)

<class 'tuple'>
4.0

In [18]:
marks=[3,'f',5.5,-8,"Royal",True]
marks

[3, 'f', 5.5, -8, 'Royal', True]

In [21]:
print(marks[0])
print(marks[-1])
print(marks[len(marks)-3])
print(marks[5-3])

3
True
-8
5.5

In [22]:
if 7 in marks:
    print("yes")
else:
    print("no")

no

In [23]:
if "3" in marks:
    print("yes")
else:
    print("no")

no

In [24]:
print(marks[:])

[3, 'f', 5.5, -8, 'Royal', True]

In [25]:
print(marks[1:4:2])

['f', -8]

In [26]:
#list comparehension
lst=[i*i for i in  range(5)]
print(lst)

[0, 1, 4, 9, 16]

In [27]:
lst=[i*i for i in  range(10) if i%2==0]
print(lst)

[0, 4, 16, 36, 64]

In [35]:
l=[1,2,3,44,5,7,6,9]
#l.append(7)
# l.sort(reverse=True)
# l.reverse()
# l.index(1)
# m=l.copy()
#l.insert(1,899)
#m=[2,33,555]
#k=l+m
#l.extend(m)
#print(k)

[1, 2, 3, 44, 5, 7, 6, 9, 2, 33, 555]

In [38]:
#you can not change
t=(1,2,3,4,2,3,2,5,"green",True)
print(type(t))

<class 'tuple'>

In [43]:
t=(1,2,3,4,2,3,2,5,3)
a = t.count(2)
print(a)

3

In [50]:
#kbc
#questions
questions = [
["1:The International Literacy Day is observed on","Sep 8","Nov 28","May 2","Sep 22",1],
["2:The language of Lakshadweep a Union Territory of India is","Tamil","Hindi","Malyalam","Telugu",3],
["3:Bahubali festival is related to","Islam","Hinduism","Buddism","Jainism",4],
["4:September 27 is celebrated every year as","Teachers' Day","National Integration Day","World Tourism Day","International Literacy Day",3],
["5:Who is the author of the epic 'Meghdoot","Vishakadatta","Valmiki","Banabhatta","Kalidas",4],
["6:Pongal is a popular festival of which state","Karnataka","Kerala","Tamil Nadu","Andhra Pradesh",3],
["7:The first month of the Indian national calendar","Magha","Chaitra","Ashadha","Vaishakha",2],
["8:Which of the following is not a dance from Kerala?","Karnataka","Kerala","Tamil Nadu","Andhra Pradesh",3],
["9:Which of the following was the first Indian state to issue photo identity cards to its voters?","Tamil Nadu","Rajasthan","West Bengal","Haryana",4],
["10:What is the largest object in our solar system?","Titan","Jupiter","Sun","Alpha Centauri",2],
["11:Which of these are names of national parks located in Madhya Pradesh?","Krishna and Kanhaiya","Krishna and Kanhaiya","Ghanshyam and Murari","Girdhar and Gopal",2],
["12:Who wrote the introduction to the English translation of Rabindranath Tagore’s Gitanjali?","P.B. Shelley"," Alfred Tennyson","W.B. Yeats","T.S. Elliot",3],
["13:Who is the only MP in the current Lok Sabha who is also an Olympic medalist?","Abhinav Bindra","Rajyavardan Singh Rathore","Karnam Maleshwari"," Gagan Narang",2],
["14:Which newspaper once kept its editorial cloumn blank as a mark of protest against the emergency of 1975?"," Hindustan Times","The Hindu"," The Indian Express","The Times of India",3],
["15:How many religions are there in India?","6","7","8","4",1],
["16:Which is known as direct tax….."," Custom tax","Income tax","Property tax"," Excise tax",2],
["17:A coin of what value is called as “Athhanni”?","1 Rupee","25 Paise","50 Paise","2 Rupees",3],
["18:Who was the first person to be awarded the Bharat Ratna posthumously?","Rajiv Gandhi","Vinoba Bhave","Lal Bahadur Shastri"," Indira gandhi",3]
]
levels = [1000, 2000, 3000, 5000, 10000, 20000, 40000, 80000, 160000, 320000, 640000, 1250000, 2500000, 5000000, 10000000, 30000000, 50000000, 70000000]
money = 0
for i in range(0,len(questions)):
    question = questions[i]
    print(f"\nQuestion For Rs. {levels[i]}")
    print(f"{question[0]}")
    print(f"a. {question[1]}          b.{question[2]}")
    print(f"c. {question[3]}          d.{question[4]}")
    reply = int(input("Enter your answer (1-4) or 0 to quit:\n"))
    if(reply == 0):
        money = levels[i-1]
        break
    if(reply == question[-1]):
        print(f"Correct answer , You have won Rs.{levels[i]}")
        if(i == 4):
            money = 10000
        if(i == 9):
            money = 320000
        if(i == 14):
            money = 10000000
        if(i == 16):
            money = 70000000
    else:
        print("Wrong answer ! You out of this game.")
        break
    print(f"Your take home money is Rs.{money}")

Question For Rs. 1000
1:The International Literacy Day is observed on
a. Sep 8          b.Nov 28
c. May 2          d.Sep 22
Enter your answer (1-4) or 0 to quit:
1
Correct answer , You have won Rs.1000
Your take home money is Rs.0

Question For Rs. 2000
2:The language of Lakshadweep a Union Territory of India is
a. Tamil          b.Hindi
c. Malyalam          d.Telugu
Enter your answer (1-4) or 0 to quit:
3
Correct answer , You have won Rs.2000
Your take home money is Rs.0

Question For Rs. 3000
3:Bahubali festival is related to
a. Islam          b.Hinduism
c. Buddism          d.Jainism
Enter your answer (1-4) or 0 to quit:
4
Correct answer , You have won Rs.3000
Your take home money is Rs.0

Question For Rs. 5000
4:September 27 is celebrated every year as
a. Teachers' Day          b.National Integration Day
c. World Tourism Day          d.International Literacy Day
Enter your answer (1-4) or 0 to quit:
3
Correct answer , You have won Rs.5000
Your take home money is Rs.0

Question For Rs. 10000
5:Who is the author of the epic 'Meghdoot
a. Vishakadatta          b.Valmiki
c. Banabhatta          d.Kalidas
Enter your answer (1-4) or 0 to quit:
4
Correct answer , You have won Rs.10000
Your take home money is Rs.10000

Question For Rs. 20000
6:Pongal is a popular festival of which state
a. Karnataka          b.Kerala
c. Tamil Nadu          d.Andhra Pradesh
Enter your answer (1-4) or 0 to quit:
3
Correct answer , You have won Rs.20000
Your take home money is Rs.10000

Question For Rs. 40000
7:The first month of the Indian national calendar
a. Magha          b.Chaitra
c. Ashadha          d.Vaishakha
Enter your answer (1-4) or 0 to quit:
2
Correct answer , You have won Rs.40000
Your take home money is Rs.10000

Question For Rs. 80000
8:Which of the following is not a dance from Kerala?
a. Karnataka          b.Kerala
c. Tamil Nadu          d.Andhra Pradesh
Enter your answer (1-4) or 0 to quit:
3
Correct answer , You have won Rs.80000
Your take home money is Rs.10000

Question For Rs. 160000
9:Which of the following was the first Indian state to issue photo identity cards to its voters?
a. Tamil Nadu          b.Rajasthan
c. West Bengal          d.Haryana
Enter your answer (1-4) or 0 to quit:
4
Correct answer , You have won Rs.160000
Your take home money is Rs.10000

Question For Rs. 320000
10:What is the largest object in our solar system?
a. Titan          b.Jupiter
c. Sun          d.Alpha Centauri
Enter your answer (1-4) or 0 to quit:
2
Correct answer , You have won Rs.320000
Your take home money is Rs.320000

Question For Rs. 640000
11:Which of these are names of national parks located in Madhya Pradesh?
a. Krishna and Kanhaiya          b.Krishna and Kanhaiya
c. Ghanshyam and Murari          d.Girdhar and Gopal
Enter your answer (1-4) or 0 to quit:
2
Correct answer , You have won Rs.640000
Your take home money is Rs.320000

Question For Rs. 1250000
12:Who wrote the introduction to the English translation of Rabindranath Tagore’s Gitanjali?
a. P.B. Shelley          b. Alfred Tennyson
c. W.B. Yeats          d.T.S. Elliot
Enter your answer (1-4) or 0 to quit:
3
Correct answer , You have won Rs.1250000
Your take home money is Rs.320000

Question For Rs. 2500000
13:Who is the only MP in the current Lok Sabha who is also an Olympic medalist?
a. Abhinav Bindra          b.Rajyavardan Singh Rathore
c. Karnam Maleshwari          d. Gagan Narang
Enter your answer (1-4) or 0 to quit:
2
Correct answer , You have won Rs.2500000
Your take home money is Rs.320000

Question For Rs. 5000000
14:Which newspaper once kept its editorial cloumn blank as a mark of protest against the emergency of 1975?
a.  Hindustan Times          b.The Hindu
c.  The Indian Express          d.The Times of India
Enter your answer (1-4) or 0 to quit:
3
Correct answer , You have won Rs.5000000
Your take home money is Rs.320000

Question For Rs. 10000000
15:How many religions are there in India?
a. 6          b.7
c. 8          d.4
Enter your answer (1-4) or 0 to quit:
1
Correct answer , You have won Rs.10000000
Your take home money is Rs.10000000

Question For Rs. 30000000
16:Which is known as direct tax…..
a.  Custom tax          b.Income tax
c. Property tax          d. Excise tax
Enter your answer (1-4) or 0 to quit:
2
Correct answer , You have won Rs.30000000
Your take home money is Rs.10000000

Question For Rs. 50000000
17:A coin of what value is called as “Athhanni”?
a. 1 Rupee          b.25 Paise
c. 50 Paise          d.2 Rupees
Enter your answer (1-4) or 0 to quit:
3
Correct answer , You have won Rs.50000000
Your take home money is Rs.70000000

Question For Rs. 70000000
18:Who was the first person to be awarded the Bharat Ratna posthumously?
a. Rajiv Gandhi          b.Vinoba Bhave
c. Lal Bahadur Shastri          d. Indira gandhi
Enter your answer (1-4) or 0 to quit:
3
Correct answer , You have won Rs.70000000
Your take home money is Rs.70000000

In [55]:
#f string
country="india"
name="ashish"
print(f"hey my name is {name} and i am from {country}")
print(f"hey my {{name}} is {name} and i am from {country}")

hey my name is ashish and i am from india
hey my {name} is ashish and i am from india

In [54]:
price = 49.99999
print(f"for only {price:.2f}")

for only 50.00

In [60]:
#doc string --decribe about function
def square(n):
    '''Takes in a number n,returns the square of  n'''
    print(n**2)
square(5)
print(square.__doc__)

25
Takes in a number n,returns the square of  n

In [ ]:
#Pep 8 -- python Enhancement proposal

In [61]:
#poem
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [63]:
#Recursion -- Function call itself
def factorial(n):
    if(n==0 or n==1):
        return 1
    else:
        return n*factorial(n-1)
    
print(factorial(5))

120

In [76]:
#febinacci series with recursion
def febinacci(n):
    if(n==0):
        return 0
    elif(n==1 or n==2):
        return 1
    else:
        return febinacci(n-1)+febinacci(n-2)
    
febinacci(3)

2